#mac OS
*.DS_store

#eclipse
quote-extractor/bin
quote-extractor/build

#vim
*.swp

#java
*.class

# Package Files #
*.war
*.ear

# Python virtualenvs
api/env
gather/env

# Python compiled code
*.pyc
